{% load  static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>RNG & Associates</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'website/assets/img/logo_rng.png' %}" rel="icon">
  <link href="{% static 'website/assets/img/logo_rng.png' %}" rel="apple-touch-icon">
 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'website/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets2/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets2/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets2/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets2/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets2/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets2/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="{% static 'website/assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/css/style2.css' %}" rel="stylesheet">

  <style>
    .hidden {
      display:none;
    }
    
    textarea {
      width: 90%; /* Ширина поля в процентах */
      height: 200px; /* Высота поля в пикселах */
      resize: none; /* Запрещаем изменять размер */
    } 
  </style>

</head>

<body>

    {% include 'website/base-header.html' %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    {% comment %} <img src="{% static 'website/assets/img/hero-bg-code4.jpg' %}" class="img-fluid" alt=""> {% endcomment %}
    <div class="hero-container">
      <h3>Добро пожаловать в <strong> RNG</strong></h3>
      <h1>Мы IT-рекрутинговое агентство</h1>
      <h2>Делаем наших клиентов счастливыми, привлекая им новые таланты</h2>
      <a href="#about" class="btn-get-started scrollto">Начать</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>О нас</h2>
                <h3>Learn More <span>About Us</span></h3>
                <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
            </div>
    
            <div class="row">
            <div class="col-lg-6" data-aos="zoom-in">
                <img src="{% static 'website/assets/img/about.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
                <div class="content pt-4 pt-lg-0">
                <h3>Наши преимущества</h3>
                <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Больше 15 лет подбираем IT-специалистов и инженеров по всей России.</li>
                    <li><i class="bi bi-check-circle"></i> Основной наш ресурс – это команда опытных консультантов, совокупный опыт которых позволяет оперативно решать любые задачи подбора персонала.</li>
                    <li><i class="bi bi-check-circle"></i> Более 300 закрытых вакансий за 2021 год.</li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate tera noden carma palorp mades tera.
                </p>
                </div>
            </div>
            </div>
    
        </div>
        </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Услуги</h2>
          <h3>Мы предлагаем услуги по <span>Подбору персонала</span></h3>
          <p>Сферы и компетенции закрываемых вакансий:</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-github"></i></div>
              <h4 class="title"><a href="">Разработка ПО</a></h4>
              <p class="description">Back-End, Front-End, Mobile, Architect, GameDev.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Data</a></h4>
              <p class="description">Data Analyst, Data Scientists, Администратор базы данных, BI, бизнес аналитик, системные аналитик.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Менеджмент</a></h4>
              <p class="description">Руководитель проектов, тим лид, Product менеджер, Release менеджер.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-life-preserver"></i></div>
              <h4 class="title"><a href="">Системное администрирование</a></h4>
              <p class="description">DevOps, системный администратор, helpdesk, руководитель инфраструктуры.</p>
            </div>
          </div>
          
        </div>

        <br/><br/>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              {% comment %} bx bxl-dribbble {% endcomment %}
              <div class="icon"><i class="bi bi-layout-wtf"></i></div> 
              <h4 class="title"><a href="">Дизайн, UI/UX</a></h4>
              <p class="description">UI/UX дизайнер, VR дизайнер, VFX дизайнер, Game дизайнер.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-file-check"></i></div>
              <h4 class="title"><a href="">Управление качеством</a></h4>
              <p class="description">QA lead, QA engineer, ручное и автоматизированное тестирование.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Интернет-маркетинг</a></h4>
              <p class="description">SEO, ASO, PPC / СPA / CPC, SMM, web-аналитик.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-diagram-3"></i></div>
              <h4 class="title"><a href="">C-level</a></h4>
              <p class="description">CIO, CTO, CEO, CMO, CCO, HR Director etc.</p>
            </div>
          </div>
          
        </div>

      </div>
      <br/>
      <br/>
    </section><!-- End Services Section -->


    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">      
      <div class="container">
        
        <div class="text-center">
          <h3>Оставить Заявку на Подбор</h3>
          <p> Есть вопросы? Хотите обсудить ваш проект? Пожалуйста, свяжитесь с нами.</p>
          <a class="cta-btn" href="#contact">Найти Кандидатов</a>
        </div>

      </div>
    </section><!-- End Cta Section -->


    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Клиенты</h2>
            <h3>Наши выдающиеся <span>Клиенты</span></h3>
            <p></p>
          </div>
  
          <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo" data-aos="zoom-in">
                <img src="{% static 'website/assets/img/clients/client-11.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo" data-aos="zoom-in" data-aos-delay="100">
                <img src="{% static 'website/assets/img/clients/client-12.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo" data-aos="zoom-in" data-aos-delay="150">
                <img src="{% static 'website/assets/img/clients/client-13.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo" data-aos="zoom-in" data-aos-delay="200">
                <img src="{% static 'website/assets/img/clients/client-14.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo" data-aos="zoom-in" data-aos-delay="250">
                <img src="{% static 'website/assets/img/clients/client-2.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo" data-aos="zoom-in" data-aos-delay="300">
                <img src="{% static 'website/assets/img/clients/client-16.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6">
              <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
                <img src="{% static 'website/assets/img/clients/client-17.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4 col-xs-6" data-aos="zoom-in" data-aos-delay="400">
              <div class="client-logo">
                <img src="{% static 'website/assets/img/clients/client-18.png' %}" class="img-fluid" alt="">
              </div>
            </div>
  
          </div>
  
        </div>
    </section><!-- End Clients Section -->


    {% include 'website/testimonials.html' %}

{% block content %}
    
{% endblock %}

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Команда</h2>
          <h3>Наша опытная <span>Команда</span></h3>
          <p></p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'website/assets/img/my_foto_suit6.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://t.me/MikhailRyam"><i class="bi bi-telegram"></i></a>
                  <a href="mailto:mr@rng-services.com"><i class="bi bi-envelope"></i></a>
                  <a href="https://www.linkedin.com/in/mikhail-ryamov/" target="_blank"><i class="bi bi-linkedin"></i></a> 
                </div>
              </div>
              <div class="member-info">
                <h4>Mikhail Ryamov</h4>
                <span>Sourcer, Recruiter</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'website/assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'website/assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{% static 'website/assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

        <!-- ======= F.A.Q Section ======= -->
        <section id="faq" class="faq">
          <div class="container">
    
            <div class="section-title">
              <h2>F.A.Q</h2>
              <h3>Часто задаваемые <span>Вопросы</span></h3>
            </div>
    
            <ul class="faq-list">
    
              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Сколько стоит подбор? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Базовая ставка составляет 15% - 20% от годового дохода специалиста. Стоимость подбора зависит от таких критериев, как: размер компании, формат работы, количество необходимых сотрудников, специализация. Работаем без предоплаты, оплата только после выхода успешного кандидата на работу. Первые резюме показываем уже на первый-второй день после подписания. Как правило большинство вакансий закрываем из личной базы резюме кандидатов, которые не публикуются на работных сайтах.
                  </p>
                </div>
              </li>
    
              <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Какие услуги предоставляет агентство? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    &#8212;  Подбор специалистов любого уровня в IT и digital.
                  </p>
                  <p>
                    &#8212;  Сорсинг. Предоставление списков подходящих кандидатов.
                  </p>
                  <p>
                    &#8212;  Карьерная консультация: поиск сильных сторон, разбор резюме, подготовка к собеседованию.
                  </p>
                  <p>
                    &#8212;  Обзор заработных плат.
                  </p>
                </div>
              </li>
    
              <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Какие позиции закрывает агентство? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Разработка ПО, аналитика, менеджмент, дизайн, UI/UX, системное администрирование, управление качеством, интернет-маркетинг, C-level.
                  </p>
                </div>
              </li>
    
              <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Какие сроки закрытия вакансии? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Результат зависит от "командой работы": как правило первые резюме мы присылаем уже на первый-второй день после подписания договора и держим темп по воронке, и тут важна быстрая реакция заказчика, обработка резюме, назначение интервью, получение фидбека. В среднем, 3-4 недели - это срок закрытия вакансии. Нам всегда интересно закрывать вакансии быстрее, любим позиции, которые нужно закрыть вчера.
                  </p>
                </div>
              </li>
    
              <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question"> Какие преимущества у RNG? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    &#8212; Применение современных методов и инструментов поиска кандидатов: X-Ray и Boolean search. 
                  </p>
                  <p>
                    &#8212; Поиск кандидатов через социальные сети и мессенджеры, специальные мероприятия и события. 
                  </p>
                  <p>
                    &#8212; Экспертная проверка кандидатов: каждый рекрутер много лет работает в IT подборе.
                  </p>
                  <p>
                    &#8212; Высокий уровень автоматизации процессов поиска и взаимодействия с кандидатами.
                  </p>
                </div>
              </li>
    
              <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Сколько человек в команде? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    12 человек, средний стаж в ИТ подборе - 10 лет.
                  </p>
                </div>
              </li>
    
            </ul>
    
          </div>
        </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Контакты</h2>
          <h3>Свяжитесь с <span>Нами</span></h3>
          <p>Есть вопросы? Хотите обсудить ваш проект? Пожалуйста, свяжитесь с нами.</p>
        </div>
        
        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Адрес:</h4>
                <p>Армянский пер., 9, с1, Москва, 101990</p>
              </div>

              <div class="email footer-links">
                <a id="email" class="mail" href="mailto:info@rng-services.com"><i class="bi bi-envelope"></i></a>
                <h4>Email:</h4>
                <p><a id="email" class="mail" href="mailto:hello@rng-services.com">hello@rng-services.com</a></p>
              </div>

              <div class="phone">
                <a href="tel:+74951360310"><i class="bi bi-phone"></i></a>
                <h4>Телефон:</h4>                
                  <p><a href="tel:+74951360310">+7 495 136 03 10</a></p>                
              </div>  
              
              
              <div class="container">
                <div class="row row-cols-auto">
                  <div class="col phone">
                    <a href="https://t.me/rngservices" class="telegram"><i class="bx bxl-telegram" target="_blank"></i></a>
                  </div>
                  <div class="col phone">
                    <a href="https://wa.me/79259224178" class="whatsapp" target="_blank"><i class="bx bxl-whatsapp"></i></a>
                  </div>
                  <div class="col phone">
                    <a href="https://www.linkedin.com/company/rng-&-associates/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">
            <form id="message-form" action="" method="POST">
            {% comment %} <form action="#contact" id="message-form" method="post" role="form" class="email-form"> {% endcomment %}
              {% csrf_token %} 

              <div class="col-md-12 form-group">
                {% comment %} {{ message_form.name }} {% endcomment %}
                <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя*" required>
                <div class="error text-danger"></div>  
              </div> 

              <div class="row mt-3">
                <div class="col-md-6 form-group">                  
                  {% comment %} {{ message_form.name }} {% endcomment %}
                  <input type="text" name="phone" class="form-control" id="phone" placeholder="Ваш телефон*" required>                  
                  <div class="error text-danger"></div>               
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  {% comment %} {{ message_form.email }} {% endcomment %}
                  <input type="email" class="form-control" name="email" id="email-form" placeholder="Ваш Email*" required>                   
                  <div class="error text-danger"></div>                     
                </div>
              </div>
              
              <div class="form-group mt-3">
                {% comment %} {{ message_form.message }} {% endcomment %}
                <textarea class="form-control" name="message" rows="5" id="textarea" placeholder="Текст сообщения"></textarea>
              </div>
              {% comment %} <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div> {% endcomment %}
              <br/>
              <div class="text-center php-email-form">
                <button type="submit">
                  {% comment %} Send Message {% endcomment %}
                  Отправить Запрос
                </button>
              </div>
              {% comment %} <div id="loader" class="hidden">Отправляем...</div> {% endcomment %}

              <div class="col-md-12 text-center my-3" position="relative">
                {% comment %} <div id="loader" class="hidden">Отправляем...</div>       {% endcomment %}
                <div id="loader" class="spinner-border text-secondary hidden" role="status">
                  {% comment %} <span class="visually-hidden">Loading...</span> {% endcomment %}
                </div>
                <div class="messages">                   
                </div> 
              </div>
              
            </form>
          </div>

        </div>

        <br/><br/><br/><br/>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3775.4652595630396!2d37.633769371416825!3d55.7601511792652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a5fca11dad1%3A0x986302aba1e2b04!2z0JDRgNC80Y_QvdGB0LrQuNC5INC_0LXRgC4sIDksINGBMSwg0JzQvtGB0LrQstCwLCAxMDEwMDA!5e0!3m2!1sru!2sru!4v1653073135045!5m2!1sru!2sru" frameborder="0" allowfullscreen></iframe>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% include 'website/footer.html' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>  
  <script src="{% static 'website/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'website/assets2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'website/assets2/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'website/assets2/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'website/assets2/vendor/swiper/swiper-bundle.min.js' %}"></script> 

  <!-- Template Main JS File -->
  {% comment %} <script src="{% static 'website/assets/js/main.js' %}"></script> {% endcomment %}
  <script src="https://unpkg.com/imask"></script>
  <script src="{% static 'website/assets2/js/main.js' %}"></script>
  <script src="{% static 'website/assets2/js/message2.js' %}"></script>
  

</body>

</html>