<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>RNG</h3>
            <p>
              Армянский пер., 9, с1<br>
              Москва, 101990<br>
              Россия<br><br>
              <strong>Телефон:</strong> +7 495 136 03 10<br>
              <strong>Email:</strong> info@rng-services.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Полезные ссылки</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#home">Главная</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">О нас</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Услуги</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Политика конфиденциальности</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Наши услуги</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Подбор персонала</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Сорсинг кандидатов</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Карьерное консультирование</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Обзор заработных плат</a></li>              
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Подписаться на рассылку новых вакансий</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            {% comment %} <form action="" method="post"> {% endcomment %}
            <form>
              <input type="email" name="email"><input type="submit" value="Подписаться">
            </form>
          </div> 

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Tempo</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> 
          Made by <a href="https://github.com/MikRyam">MikRyam</a>         
        </div>                
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://t.me/rngservices" class="telegram"><i class="bx bxl-telegram" target="_blank"></i></a>
        <a href="https://wa.me/79259224178" class="whatsapp" target="_blank"><i class="bx bxl-whatsapp"></i></a>
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
        <!-- <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> -->
        <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a> -->
        <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
        <a href="https://www.linkedin.com/company/rng-&-associates/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
  