{% load  static %}
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Отзывы</h2>
        <p></p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>                                
                Благодарю агентство RNG за помощь в формировании сильной команды IT нашей компании. Всегда оперативно и с максимальной клиентоориентированностью справляются с нашими непростыми задачами подбора ИТ. Рекомендую!
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{% static 'website/assets/img/testimonials/testimonials-14.jpg' %}" class="testimonial-img" alt="">
              <h3>Алексей Карпов</h3>
              <h4>Руководитель направления подбора персонала, Группа компаний Сибур</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Выражаем благодарность команде RNG за оперативную и качественную работу по подбору персонала для ПАО Ростелеком.
                Надеемся на дальнейшее сотрудничество и рекомендуем RNG как надёжного и профессионального партнёра в сфере подбора персонала. 
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{% static 'website/assets/img/testimonials/testimonials-11.jpg' %}" class="testimonial-img" alt="">
              <h3>Наталья Глотова</h3>
              <h4>Head of Recruitment, ПАО Ростелеком</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Сотрудничество с RNG позволяет нам эффективно и быстро решать вопросы качественного подбора персонала. Команда RNG владеет современными методами подбора и всегда предлагает оптимальное решение кадровых вопросов. 
                Мы рекомендуем компанию RNG как партнёра, способного решать сложные задачи по подбору персонала. 
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{% static 'website/assets/img/testimonials/testimonials-13.jpg' %}" class="testimonial-img" alt="">
              <h3>Бендюкова Оксана</h3>
              <h4>HRD, ЗАО Тинькофф Кредитные Системы</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Хотелось бы отметить профессионализм команды RNG, которая внимательно относится к нашим запросам, точно понимает требования и всегда готова предоставить обратную связь. 
                Выражаем благодарность компании RNG за проведённую работу по найму сотрудников «Эмерсон» в России. Надеемся на дальнейшее сотрудничество и рекомендуем RNG как надёжного и профессионального партнёра, которому можно доверять.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{% static 'website/assets/img/testimonials/testimonials-12.jpg' %}" class="testimonial-img" alt="">
              <h3>Марина Барелко</h3>
              <h4>HRD, ООО «Эмерсон»</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Выражаем благодарность команде RNG за оперативную и качественную работу по подбору персонала для ПАО Сбербанк. 
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{% static 'website/assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
              <h3>Алексей Желтов</h3>
              <h4>HRBP, ПАО Сбербанк</h4>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->