{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

</head>

<body>

  <ul>
    <li><a href="https://www.google.ru" target="myframe">Google</a></li>
    <li><a href="http://www.yandex.ru/" target="myframe">Yandex</a></li>
    <li><a href="https://duckduckgo.com/" target="myframe">DuckDuckGo</a></li>
  </ul>
  
  <iframe src="http://example.com/" name="myframe"></iframe>
    

  

</body>

</html>